body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#595959;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
  font-weight: 500;
}

h2 {
  color:#393939;
  font-weight: 500;
}

h3, h4, h5, h6 {
  color:#494949;
  font-weight: 500;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

/* WIDTH OF WHOLE SITE - but parts have giant space between */
.wrapper {
  width:90%;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:500;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

/* NEED TO DIFFERENTIATE BETWEEN DEFAULT AND POST HEADERS */
header {
  width:250px;
  float:left;
  position:fixed;
  text-align:center;
  -webkit-font-smoothing:subpixel-antialiased;
}

.post-header {

  width:100%;
  float:center;
  position:static;
  text-align:center;

}

/* GREY BOX (UL) IN SIDE BAR */
header ul {
  list-style:none;
  height:auto;
  padding:0;
  background: rgba(244, 244, 244, 0);
  border-radius:5px;
  width:100%;
}

/* CONTROL TOP TWO SEARCH RESULT ENTRIES */
header li {
  width:100%;
  float:center;
  height: 29px;
  
}

#results-container {

  list-style:none;
  height:20px;
  line-height:1;
  font-size:11px;
  color:#525151; /* originally 999 */
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
  width:100%;
}

/* The following makes the search bar text bold and italicized */
::-webkit-input-placeholder {
  font-style: italic;
  font-weight: bold;
}
:-moz-placeholder {
  font-style: italic;  
  font-weight: bold;
}
::-moz-placeholder {
  font-style: italic; 
  font-weight: bold; 
}
:-ms-input-placeholder {  
  font-style: italic; 
  font-weight: bold;
}


/* SEARCH BAR STYLING */
#search-input {
  padding-right:0px;
  padding-top:3px;
  padding-bottom: 3px;  
  width:100%;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  margin:0 0 20px;
  font-size:11px;
  color:#525151; /* originally 999 */
  text-align:center;

}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

/* DEFINES SEARCH RESULT TEXT */
header ul a {
  line-height:1;
  font-size:11px;
  color:#525151; /* originally 999 */
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
} 

/* color of hovered text in search results */
header ul a:hover {
  color:#141414;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:500;
}

/* THIS IS THE WIDTH OF MOST SEARCH RESULTS */
header ul li + li + li {
  border-right:none;
  width:100%;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

/* WIDTH OF PAGE BY ITSELF */
section { 
  width: -moz-calc(90% - 250px); /* Firefox */
  width: -webkit-calc(90% - 250px); /* WebKit */
  width: -o-calc(90% - 250px); /* Opera */
  width: calc(90% - 250px); /* Standard */
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
